/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2c2f33; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #23272a; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

@font-face {
  font-family: "Veneficium";
  src: local("Veneficium"), url("../fonts/GhoulFriAOE.ttf") format("truetype");
}
